body {
    background: #f3f5fc;
}

/* overflow: hidden;*/
.logo {
    padding-top: 2%;
    margin-left: 2%;
    width: 3%;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;

}


.seccionIzq {
    width: 50%;
    height: 100%;
    margin-left: 5%;
}

.seccionDer {
    height: 100%;
    width: 40%;
    margin-left: 5%;
}

/*background: #f3f5fc;*/
.textArea {
    width: 100%;
    resize: none;
    background: #f3f5fc;
    font-family: "Inter";
    font-weight: 400;
    font-size: 2em;
    border: none;
    color: #0A3871;
    text-transform: lowercase;
}

.textArea::placeholder {
    color: #0A3871;
    font-family: "Inter";
    font-weight: 400;

}

.textArea:focus {
    outline: none;
}

.mensaje {
    display: none;
    width: 90%;   
    resize: none;
    font-family: "Inter";
    font-weight: 400;    
    font-size: 2em;   
    background: white;
    background-repeat: no-repeat;   
    border: none;
    border-radius: 24px ;
    color: #0A3871;
    text-align: center;
    box-shadow: 5px 5px  #D8DFE8;

    
}

.mensaje:focus {
    outline: none;
}

.ningunMensaje {       
    display: inherit;
    width: 90%;
    font-family: "Inter";
    font-weight: 400;
    color: #0A3871;
    font-size: 2em;
    background: white;
    border-radius: 24px;
    text-align: center;
    box-shadow: 5px 5px  #D8DFE8;

    

}



.botonEncriptar {
    font-family: "Inter";
    font-weight: 400;
    font-size: 2em;
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #D8DFE8;
    cursor: pointer;
    margin-top: 12px;
    width: 45%;
    margin-right: 5%;
    height: 1.5em;
    box-shadow: 5px 5px  #D8DFE8;
    
}
.botonEncriptar:hover {
    scale: 1.1;
    box-shadow: 5px 5px 10px #0A3871;
}

.botonDesencriptar {
    font-family: "Inter";
    font-weight: 400;
    font-size: 2em;
    background-color: #D8DFE8;
    border: 3px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    margin-top: 12px;
    width: 45%;
    margin-left: 0%;
    height: 1.5em;
    box-shadow: 5px 5px  #D8DFE8;

}
.botonDesencriptar:hover {
    scale: 1.1;
    box-shadow: 5px 5px 10px #0A3871;
}

/*display: none;*/
.botonCopiar {
    display: none;
    font-family: "Inter";
    font-weight: 400;
    font-size: 2em;
    border: 3px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    margin-top: 6%;
    width: 90%;
    height: 1.5em;
    box-shadow: 5px 5px  #D8DFE8;

}
.botonCopiar:hover{
    scale: 1.1;
    box-shadow: 5px 5px 10px #0A3871;
}

.informacion {
    font-family: "Inter";
    font-weight: 400;
    font-size: .9em;
    color: #495857;
    margin-left: 5%;

}

@media (max-width: 912px) { 
    .seccionIzq, .seccionDer, .botonEncriptar, .botonDesencriptar, .mensaje, .botonCopiar, .ningunMensaje {
      width: 100%; align-items: center;
      margin-right: 5%;
    }
    .mensaje, .ningunMensaje {
        margin-top: 5%;
    }
    .textArea{
        margin-top: 20%;        
    }  

    img{
        max-width: 100%;
        height: auto;
    }
   
    .botonCopiar{
        margin-bottom: 5%;
    }
    header {
        position: fixed;
        top: 0; 
        left: 0; 
        width: 300%;
        background: #f3f5fc;

    }
}
@media (max-width: 401px){
    .textArea, .mensaje, .ningunMensaje{
        font-size: 1em;     
    } 
    .informacion{
        font-size: 70%;
    }  

}